* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 /* loader */
 .spinner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.205);
 }

 .form-btn {
    width: 250px !important;
    margin-top: 30px !important;
 }

 .header-content {
   display: flex;
   justify-content: space-between;
   list-style: none;
 }

 .header-content > li {
   position: relative;
 }
 
 .header-content ul {
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   list-style: none;
   padding: 0;
   background-color: #fff;
   border: 1px solid #ddd;
 }

 .header-content ul li {
   padding: 10px;
 }
 
 .header-content li:hover > ul {
   display: block;
 }